:root {
    --ff-1: 'Gabarito', sans-serif;

    --fs-1: 12px;
    --fs-2: 22px;

    --cl-1: #ffffff;
    --cl-2: #000000;
    --cl-3: #D4AF96;
    --cl-4: #e0e1e2;
    --cl-5: #00a1fe;
    --cl-6: #113946;

    /* font-family: 'Libre Baskerville', serif; */
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    /* line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark; */
    /* color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */
  
    
  }